__pycache__/
.idea/
venv/
.venv/
.ipynb_checkpoints/

*.pyc

data/
checkpoints/
weights/

.env
.env.*

*.csv
*.png
*.parquet
*.xlsx
*.pkl
*.graphml
*.txt
*.json
*.drawio.*
*.drawio

*.pt
*.model
*.vocab
*.jpg
events.*